@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary-orange: hsl(12 88% 59%);
  --color-primary-blue: hsl(228 39% 23%);

  /* Neutral */
  --color-neutral-gray: hsl(233 12% 13%);
  --color-neutral-orange: hsl(13 100% 96%);
  --color-neutral-light-gray: hsl(0 0% 68%);

  /* Font */
  --font-vietnam: "Be Vietnam Pro", sans-serif;
   --breakpoint-nm: 43.75rem;
}

@layer base {
  html {
    font-size: 16px;
    text-color:rgba(0, 0, 0, 0.534);
  }

  body {
    font-family: var(--font-vietnam);
  }
}

@layer components {
  .orange-button {
    @apply bg-primary-orange text-white flex items-center justify-center rounded-4xl px-6 py-3 shadow-[0_6px_6px_-1px_hsl(12_88%_79%)]
    font-bold hover:opacity-80;
  }
  .orange-numbering {
  @apply bg-primary-orange text-white flex items-center justify-center rounded-4xl p-2;
}
}



.nav {
  background-color: #d1d5db; /* Tailwind gray-300 */
  display: flex !important;
  flex-direction: column;
  gap: 2rem; /* gap-4 */
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem; /* py-10 */
  padding-bottom: 2.5rem;
  position: absolute;
  right: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb; /* Tailwind's default border color */
  width: 95%;
  top: 175px;
  left: 50%;
  transform: translate(-50%, -50%);

}
.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.test {
  border: 1px solid red;
}

.header-button {
  display: none;
}



@utility feature-heading {
  position: relative;
}

@media (max-width: 767px) {
  .feature-heading::after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 28px;
    right: -1.5rem;
    height: 2rem;
    border-radius: 9999px 0 0 9999px;
    background: rgb(240, 225, 197);
  }

  .feature-heading > * {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 700px) {
  /* sm: breakpoint */
  .nav {
    position: static;
    flex-direction: row;
    background-color: transparent;
    border: none;
    transform: none;
    width: 100%;
    gap: 10px;
  }
  .hidden {
    display: flex;
  }
  .header-button {
    display: flex;
  }
}
