@import "tailwindcss";


@theme {
  /* Primary */
  --color-primary-orange: hsl(12 88% 59%);
  --color-primary-blue: hsl(228 39% 23%);

  /* Neutral */
  --color-neutral-gray: hsl(233 12% 13%);
  --color-neutral-orange: hsl(13 100% 96%);
  --color-neutral-light-gray: hsl(0 0% 68%);

  /* Font */
  --font-vietnam: "Be Vietnam Pro", sans-serif;
}

@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-family: var(--font-vietnam);
  }
}

.orangeButton{
  @apply bg-primary-orange text-white flex items-center justify-center rounded-4xl px-4  py-2
}
.orangeNumbering{
  @apply bg-primary-orange text-white flex items-center justify-center rounded-4xl p-2
}

.nav {
  background-color: #d1d5db; /* Tailwind gray-300 */
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem; /* py-10 */
  padding-bottom: 2.5rem;
  position: absolute;
  right: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb; /* Tailwind's default border color */
  width: 95%;
  top: 175px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden{
  display: none;
}

.block{
  display: block;
}

.test{
  border:1px solid red;
}

@media (min-width: 640px) { /* sm: breakpoint */
  .nav {
    position: static;
    flex-direction: row;
    background-color: transparent;
    border: none;
    transform: none;
    width: 100%;
    gap:4px;
 
  }
  .hidden{
  display: flex;
  }
}


